name: Create diagram
on:
  workflow_dispatch: {}
  push:
    branches:
      - master
jobs:
  get_data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Update diagram
        uses: ageorgou/repo-visualizer@allow-no-commit
        with:
          excluded_paths: "docs,.vscode,.gitignore,.nvmrc,.prettierrc"
          commit_message: "Update diagram [skip ci]"
          excluded_globs: "scripts/**.*"
